$primary-color: #ff4401;
$primary-light-color: #ff6934;
$background-color: #1e252b;
$background-light-color: #262d34;
$white-color: #ffffff;
$blue-color: #1682fd;
$green-color: #17a100;
$red-color: #ff4e4e;
$gray-color: #b7cad4;
$placeholder-color: #858ead;

$border-radius: 16px;
$border-half-radius: 8px;

$center-width: 1440px;

$breakpoint-mobile: 767px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;
