$primary-color: #ff4401;
$primaryLight-color: #ff6934;
$background-color: #1e252b;
$backgroundLight-color: #262d34;
$white-color: #ffffff;
$blue-color: #1682fd;
$green-color: #17a100;
$red-color: #ff4e4e;
$gray-color: #b7cad4;

$border-radius: 16px;
$border-half-radius: 8px;
