// input placeholder color
.MuiFormLabel-root {
  color: #858ead !important;
}

// input background color
.MuiInputBase-root {
  background-color: #2c353d !important;

  // input focused bottom border color
  &::before {
    border-bottom-color: #2c353d !important;
  }

  &::after {
    border-bottom-color: $primary-light-color !important;
  }
}

// input text color
.MuiInputBase-input {
  color: $white-color !important;
}

// input error message
.MuiFormHelperText-root {
  margin-left: 0 !important;
}

// input helper text color
.MuiFormHelperText-root {
  color: #d32f2f !important;
}

// check box padding
.MuiCheckbox-root {
  padding: 0.25rem !important;
}

// icon color {
.MuiSvgIcon-root {
  color: $white-color !important;
}

// dialog color
.MuiDialog-paper {
  padding: 1.875rem;
  background-color: $background-color !important;
  color: $white-color !important;
}
