.tagBox {
  font-size: 0.875rem;

  .tag {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;

    .item {
      padding: 0.5rem 0.75rem;
      border-radius: 1.25rem;
      color: $gray-color;
      background-color: $background-color;
    }
  }
}
